.lk-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lk-round-border {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #212529;
  border-radius: 100%;
  margin: 2px 7px 0 0;
}