#lk-main-menu {
  background-color: #fff;
}

@media all and (max-width: 575px) {
  .lk-header {
    font-size: 3.5rem;
    text-align: center;
  }
  .lk-sub-header {
    text-align: center;
  }
}

.lk-round-border {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #212529;
  border-radius: 100%;
  margin: 2px 7px 0 0;
}

img#card-img-top {
  border-radius: calc(0.25rem - 1px);
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  width: auto;
  height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.img-square {
  display: block;
  padding: 0.25rem;
  background-color: #fff;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  height: 100px;
}

.img-square-main {
  display: block;
  padding: 0.25rem;
  background-color: #fff;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  height: 300px;
}

#delete-form {
  display: none;
}

.delete-image-button {
  display: none;
}
